DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SUPABASE_URL="https://rwfwcvmdcqsxrqlcxwsr.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="sb_publishable_wMxkCNxz-nqa5dbkJ-C4XQ_UCf2aSs-"
